body{
  margin: 0;
  padding:0;
  background: url(./img/5.jpg);
  background-size: 100% auto;
  color: white
}
.header{
  width: 1000px;
  height: 170px;
  margin: 110px auto 0 auto;
  background: rgba(58,58,58,0.3);
  background-size: 100% auto;
}
.header #me{
  font-size: 32px;
  color: black;
  text-align: center;
  position: relative;
  top: -70px;
}
.avatar{
  width: 135px;
  height: 135px;
  border-radius:100%;
  background: url(./img/2.jpg) ;
  background-size: 130% auto;
  position:relative;
  top:-70px;
  margin:0 auto;
  border:4px solid #FFFFFF;
}
#menudiv{
  width: 1000px;
  height: 50px;
  background: black ;
  margin: 0 auto ;
  padding: 0;
  text-align: center;
}
#menuul{
  margin: 0  ;
  padding: 0;
}

#menuul li{
  list-style: none;
  color: #FFF;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: auto 40px auto 40px;
  font-size: 30px;
}

#menuul>li a{
  text-decoration: none;
  color: white;
}

#menuul>li a:hover{
  text-decoration: underline;
}

#bodyone{
  width:1000px;
  height:400px;
  background:#484848;
  margin: 0 auto 0 auto;
  padding: 0;
}
#one-title{
margin: 10px auto 0 auto;
width:280px;
height:120px;
margin:0 auto 30px auto;
text-align:center;
}
#one-img{
  width: 1000px;
  height: 100px;
  margin: 0 auto ;
  padding: 0;
  text-align: center;
}
#one-img>li{
  list-style: none;
  color: #FFF;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: auto 80px auto 80px;
  font-size: 30px;
}
#one-word{
  width: 1000px;
  height: 50px;
  margin: 0 auto ;
  padding: 0;
  text-align: center;
}
#one-word>li{
  list-style: none;
  color: #FFF;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: auto 80px auto 80px;
  font-size: 40px;
}



#bodytwo{
  width:1000px;
  height:700px;
  background:#484848;
  margin: 10px auto 0 auto;
}
#two-title{
  margin: 0 auto 0 auto;
  text-align: center;
}

#bodythree{
  width:1000px;
  height:700px;
  background:#484848;
  margin: 10px auto 0 auto;
}
#three-title{
  margin: 0 auto 0 auto;
  text-align: center;
}
#three-photos{
  width:900px;
  padding: 0;
  margin:  10px auto;

}
#three-ul{
  width:900px;
  margin: 10px auto 10px auto;
  padding:0;
}
#three-ul>li{
  padding: 0;
  display: inline-block;
  margin: 5px 5px 5px 5px;
}
